{{define "about/about"}}


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <!-- SIDEBAR -->

            <div class="well text-left">
                <h4>Technology Summary </h4>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Golang
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Prometheus
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Grafana
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Centos
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Dovecot (imap)
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Postfix (smtp)
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Bareos
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Bash
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Dovecot
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> LAMP/LEMP
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Lua
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> LDAP
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Mysql
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Memcached
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Cheph
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Ovirt
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Docker
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Asterisk
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> MVTS2 Pro
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Galera
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Vim
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Git
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Svn
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> VirtualBox
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Kvm/Qemu
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> OpenNebula
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> MongoDB
                <br>
                <span class="glyphicon  glyphicon-ok" style="color:#98cc5d"> </span> Linux Utils


            </div>
        </div>
        <div class="col-md-8">

            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/im/img_dV77L9JmQw.jpg" style="width:120px" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 align="center">ABOUT ME</h3>
                    <p> Hello, my name is <strong>Oleg Tsimbal</strong>.
                        I am a web developer dedicated to building and optimizing the performance of user-centric,
                        high-impact websites and software. Leverage technical, analytical and problem-solving
                        skills to create applications and platforms fueling competitive advantage and revenue growth.
                        I always finish what I started and demand from others to do the same.I'm not afraid of new technologies,
                        but I do not hurry to implement those that have not been tested myself.
                    </p>

                </div>
                <hr>
                <h3 class="media-heading" align="center">EMPLOYMENT HISTORY</h3>
                <ul>
                    <li>
                        2003-2008 "Managing Company KSK"
                        <ul>
                            <li>Develop and configuration anti-spam system for company</li>
                            <li>Migrating from proprietary software to Open Source analog</li>
                            <li>Active Directory Catalog maintenance</li>
                            <li>Supporting network, web infrastructure of company(monitoring, configure)</li>

                        </ul>


                    </li>
                    <li type="square">
                        <p>ACHIEVED GOALS: </p>
                        <ul>
                            <li>Reduction of software costs by 80%</li>
                            <li>Reduction of the company's computer network by 30%</li>
                            <li>Increasing automatization in company by  15%</li>
                        </ul>
                    </li>
                    <hr>
                    <li>
                        2008-2014 "Starlink Group SA"
                        <ul>
                            <li>Supporting MVTS2 Mera Softswitch</li>
                            <li>Supporting network, web, voip infrastructure of company(monitoring, configure)</li>
                            <li>Providing and support hosting for customers</li>
                            <li>Developing and configure ipsec/openvpn for private company networks</li>
                            <li>Developing some scripts for the needs of the company(bash)</li>

                        </ul>
                    </li>
                    <li type="square">
                        <p>ACHIEVED GOALS: </p>
                        <ul>
                            <li>Increased the company's profitability by >= 400%</li>
                            <li>Increasing automatization in company by  50%</li>
                            <li>Building low cost  and easy  to switch routers  for VoIP </li>
                        </ul>
                    </li>
                    <hr>
                    <li>
                        2014-2015 "UMF"
                        <ul>
                            <li>Service in Ukrainian Military Forces</li>
                        </ul>
                    </li>
                    <li type="square">
                        <p>ACHIEVED GOALS: </p>
                        <ul>
                            <li>Medal</li>
                            <li>2 certificates for perfect performance of official duties</li>
                        </ul>
                    </li>
                    <hr>
                    <li>
                        2015-2017 "OneBox Company"
                        <ul>
                            <li>Supporting network, web, voip infrastructure of company(monitoring, configure)</li>
                            <li>Building API for SaaS company services</li>
                            <li>Building updater application for CRM "OneBox"</li>
                            <li>Database clusterization and replication system(MariaDB)</li>
                            <li>Developing many scripts for the needs of the company(golang,bash)</li>
                            <li>Development of a huge number of scripts to work with employers API(Cloudflare, Hvosting, TurboSMS, ClouDNS, SendPulse, etc )</li>
                            <li>Building SaaS service for company</li>
                            <li>Profiling and debug applications for improve performance(PHP)</li>
                            <li>Building backup system for some customer companies</li>
                            <li>Building  Lua based  VoIp routing</li>
                            <li>Building  docker compose based CRM application containers</li>
                        </ul>
                    </li>
                    <li type="square">
                        <p>ACHIEVED GOALS: </p>
                        <ul>
                            <li>Increased the company's profitability by >= 200%</li>
                            <li>Increasing automatization in the company by  >= 300%</li>
                            <li>Building  and  deploying PaaS and SaaS service</li>
                            <li>Moving to git version control software</li>
                            <li>Increased company  network  efficiency by > %70 </li>
                            <li>Increased company network  services availability by > %50 </li>
                            <li>about 10 proposals for OneBox CRM development have been adopted and are being used to this day</li>

                        </ul>
                    </li>
                    <hr>
                </ul>
                <p align="center"><strong>Expertise</strong></p>

                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <ul>
                            <li>Web Development</li>
                            <li>Coding &amp; Programming</li>
                            <li>Search Engine Optimization</li>
                            <li>Cross-Browser Compatibility</li>
                            <li>Testing &amp; debug applications </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <ul>
                            <li>Site Troubleshooting</li>
                            <li>UX &amp; UI Design</li>
                            <li>Agile Methodologies</li>
                            <li>Hosting &amp; Maintenance</li>
                            <li>Configuration &amp; Monitoring</li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <ul>
                            <li>Digital &amp; eCommerce Strategy</li>
                            <li>CRM &amp; CMS Platforms</li>
                            <li>Information Architecture</li>
                            <li>RESTfull service</li>
                            <li>VoIp service</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <p align="center"><strong>Education</strong></p>
                <p align="center">Kharkiv Aviation Institute &bull;&nbsp;<strong>Programming of automated systems</strong></p>
                <hr />
                <p align="center"><strong>Contact Information.</strong></p>
                <p align="center">Ukraine Chernihiv Goncha st.  &bull;&nbsp;<strong> mob. +380935161762 </strong></p>
                <hr />

            </div>
        </div>
        <div class="col-md-2">
            <!-- SIDEBAR -->
            <div class="well text-center">
                <h4>My skill</h4>
                <p>Linux</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                    </div>
                </div>
                <p>Ansible</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        80%
                    </div>
                </div>
                <p>Prometheus/Grafana</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        80%
                    </div>
                </div>
                <p>Bash</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
                <p>Lua</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        40%
                    </div>
                </div>
                <p>Golang</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="35"
                         aria-valuemin="0" aria-valuemax="100" style="width:35%">
                        35%
                    </div>
                </div>
                <p>HTML</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" style="width:20%">
                        20%
                    </div>
                </div>
                <p>Javascript</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" style="width:20%">
                        20%
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{{end}}