{{define "contacts/contacts"}}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>My Contacts</h1>
            <p >if you want to contact me  please  send  me  email</p>
            <p class="glyphicon glyphicon-envelope"> <a href="mailto:dzirg44@gmail.com">dzirg44@gmail.com</a></p>
            <p>  or contact  through social networks buttons  at the bottom of the page</p>
            <div class="text-center">
                <i class="fa fa-arrow-down fa-5x"></i>
           </div>

            <br>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{{end}}